.audioPlayer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

.audio {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 450px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 10px;
}

.prev-btn,
.play-btn,
.next-btn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: hsl(205, 86%, 17%);
  background-color: hsl(205, 90%, 76%);
  cursor: pointer;
  margin: 10px;
}
h1 {
  color: hsl(205, 86%, 17%);
}
.img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 999px;
  padding: 10px;
  display: block;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: hsl(205, 78%, 60%);
  margin-left: auto;
  margin-right: auto;
}

h4 {
  color: hsl(205, 78%, 60%);
  font-size: 1.5rem;
}
