.menu {
  position: fixed;
  overflow-y: scroll;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 50px;
  background-color: white;
  display: flex;
  z-index: 1;
  flex-direction: column;
  gap: 20px;
  min-width: 280px;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
