.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 20px;
}
.header__middel > li,
.header__right > li {
  list-style-type: none;
  margin-left: 20px;
  cursor: pointer;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__middel {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
}
.image {
  height: 60px;
  flex: 1;
}
.header__menu {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.header__menu:hover {
  transform: rotate(360deg);
}
.header__link__hidden {
  visibility: hidden;
}
